body {
  font-family: sans-serif;
  height: 150vh;
  background: linear-gradient(
    35deg,
    rgba(38, 114, 89, 0.5),
    rgba(179, 37, 37, 0.2)
  );
}

h1 {
  font-family: "Molle", cursive;
  color: rgb(179, 37, 37);
  /* text-transform: uppercase; */
}

h1,
h3 {
  width: 100%;
  text-align: center;
}

.faq-set {
  margin: 0px auto;
  width: 100%;
  max-width: 600px;
}

.question {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(151, 129, 3);
  font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 100;
  transition: box-shadow 0.9s ease;
  cursor: pointer;
}

.question > * {
  pointer-events: none;
}

strong {
  transform: rotate(0deg);
  font-size: 26px;
  color: rgb(38, 114, 89);
  display: inline-block;
  transition: transform 0.9s ease;
}

.answer {
  padding: 0px 10px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(38, 114, 89);
  height: 0;
  overflow: hidden;
  transition: all 0.9s ease;
}

.answer p {
  padding: 10px;
  margin: 0;
}

.open {
  padding: 10px 10px;
}

/* @media (min-width: 500px) {
  .open {
    height: 150px;
  }
} */

.opened {
  box-shadow: 0px 1px 1px gray;
  /* background-color: rgb(179, 37, 37); */
}

.arrow-turn {
  transform: rotate(90deg);
}
